[submodule "third_party/flatbuffers"]
	path = third_party/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "third_party/grpclib"]
	path = third_party/grpclib
	url = https://github.com/vmagamedov/grpclib.git
