# Ignore cached bytecode
__pycache__

# Ignore Python setup.py sdist|bdist_wheel directories
dist/
build/
*.egg-info
.eggs

# Ignore OSX finder directories
.DS_Store

# Ignore mypy cache
.mypy_cache

# CMake stuff
CMakeCache.txt
CMakeFiles
compile_commands.json

# Binary modules
flatboobs/*.so

# Ignore third_party
third_party
