# Ignore cached bytecode
__pycache__

# Ignore Python setup.py sdist|bdist_wheel directories
dist/
build/
*.egg-info
.eggs

# Ignore OSX finder directories
.DS_Store

# Ignore mypy cache
.mypy_cache

# CMake stuff
CMakeCache.txt
CMakeFiles
compile_commands.json

# Inplace installation
flatboobs/*.a
flatboobs/*.so
flatboobs/cmake/
flatboobs/include/

# Ignore third_party
third_party/

# Ignore tmp
tmp/
